@import url("https://use.typekit.net/veg4rxm.css");
@import url("https://use.typekit.net/veg4rxm.css");

$fontEaves: mrs-eaves, serif;
$fontGin: gin,sefif;

h3 {
    font-family: $fontEaves;
}
h1{ font-family: $fontGin;

    font-weight: 600;
    
    font-style: normal;
};
